/var/log/newrelic/nrsysmond.log {
    <%= node['NewRelic']['logrotate']['interval'] %>
    rotate <%= node['NewRelic']['logrotate']['number_of_files'] %>
    missingok
    notifempty
    sharedscripts
    copytruncate
    compress
}
