# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.
# the files are located in the bash-doc package.

# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
#umask 022

# if running bash
if [ -n "$BASH_VERSION" ]; then
    # include .bashrc if it exists
    if [ -f "$HOME/.bashrc" ]; then
	. "$HOME/.bashrc"
    fi
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

export PS1="\<%= @user_color %>\u\[\e[36;1m\]@<%= @host_color %>\H \[\e[36;1m\]|\d \t| \e[33;1m\]\w \e[37;1m\]\n\$> \[\e[0m\]"

#############################
# cd
#############################
alias ..='cd ..'
#alias cdwww='cd /var/www'

#############################
# df & du
#############################
alias dfh='df -h'
alias duh='du -h'

#############################
# ls
#############################
function ll() {
	ls -lah $1
}

#############################
# Profile
#############################
alias viprof='vim <%= @home %>/.profile'
alias scprof='source <%= @home %>/.profile'

<% if node.chef_environment == 'development' -%>
######################################
# Aliases for Development environment
######################################
alias cdproj='cd <%= node['System']['Profile']['cdproj'] %>'
alias shutup='sudo shutdown -P now; exit'
<% end -%>

<% if @xdebugSwitch == true -%>
######################################
# Switch for Xdebug
######################################
function switchXdebug() {
    if [ $# -eq 0 ]
    then
        echo "No arguments supplied. Needs one argument which tells to activate (1) or deactivate (0)"
    else
        if [ $1 -eq 1 ]
        then
                sudo phpenmod xdebug
                <% if @fpmInstalled == true -%>
                sudo service php7.0-fpm restart
                <% end -%>
        else
                sudo phpdismod xdebug
                <% if @fpmInstalled == true -%>
                sudo service php7.0-fpm restart
                <% end -%>
        fi
    fi
}
<% end -%>