*filter

#  Allows all loopback (lo0) traffic and drop all traffic to 127/8 that doesn't use lo0
-A INPUT -i lo -j ACCEPT
-A INPUT -i lo -d 127.0.0.0/8 -j REJECT

#  Accepts all established inbound connections
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

#  Allows all outbound traffic
#  You can modify this to only allow certain traffic
-A OUTPUT -j ACCEPT

<% if node['System']['Iptables']['WEBSERVER'] == 'On' -%>
# Allows HTTP connections from anywhere (the normal ports for websites)
-A INPUT -p tcp --dport 80 -j ACCEPT
<% end -%>

<% if node['System']['Iptables']['WEBSERVERSSL'] == 'On' -%>
# Uncomment below if you also want to allow HTTPS connections too!
-A INPUT -p tcp --dport 443 -j ACCEPT
<% end -%>

# Other Ports
<% node['System']['Iptables']['TCP']['Ports'].each do |port| -%>
-A INPUT -p tcp --dport <%= port %> -j ACCEPT
<% end %>

#  Allows SSH connections
#
# THE -dport NUMBER IS THE SAME ONE YOU SET UP IN THE SSHD_CONFIG FILE
#
-A INPUT -p tcp -m state --state NEW --dport 22 -j ACCEPT

# Allow ping
-A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT

# log iptables denied calls
-A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables denied: " --log-level 7

# Reject all other inbound - default deny unless explicitly allowed policy
-A INPUT -j REJECT
-A FORWARD -j REJECT

COMMIT
