zend_extension=xdebug.so

[XDebug]
xdebug.remote_enable=true
xdebug.remote_host=<%= node['Php']['xdebug']['remote_host'] %>
xdebug.remote_port=<%= node['Php']['xdebug']['remote_port'] %>
xdebug.remote_handler=<%= node['Php']['xdebug']['remote_handler'] %>

xdebug.profiler_enable=<%= node['Php']['xdebug']['profiler_enable'] %>
xdebug.profiler_output_dir="<%= node['Php']['xdebug']['profiler_output_dir'] %>"

xdebug.cli_color=1