server {
    listen 80;
    listen [::]:80;

    root <%= @root %>;
    index <%= @index %>;

    server_name www.<%= @server_name %>;

    # Avoid trailing slashes
    include /etc/nginx/includes/trailingslash;

    location / {
        try_files $uri $uri/ /<%= @index %>?$query_string;
    }

    # PHP FPM Setup
    location ~ \.php$ {
        try_files $uri /<%= @index %> =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php/php<%= node['Php']['default']['version'] %>-fpm.sock;
        fastcgi_index <%= @index %>;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param APPLICATION_ENV <%= node.chef_environment %>;
        include fastcgi_params;
    }

    error_log /var/log/nginx/<%= @name %>_error.log "<%= node['nginx']['loglevel'] %>";
    access_log /var/log/nginx/<%= @name %>_access.log;
}

#
# Permanent redirect from non-www to www
#
server {
    listen 80;
    listen [::]:80;
    server_name <%= @server_name %>;
    return 301 $scheme://www.<%= @server_name %>$request_uri;
    error_log /var/log/nginx/<%= @name %>_error.log "<%= node['nginx']['loglevel'] %>";
    access_log /var/log/nginx/<%= @name %>_access.log;
}