#
# Main domain configuration
#
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    root <%= @root %>;
    index <%= @index %>;
    server_name www.<%= @server_name %>;

    # ssl configuration
    ssl_certificate <%= @certificate_root %>/www.<%= @server_name %>/<%= @certificate_filename %>;
    ssl_certificate_key <%= @certificate_root %>/www.<%= @server_name %>/<%= @certificate_keyname %>;
    include /etc/nginx/includes/ssl-server;

    # Avoid trailing slashes
    include /etc/nginx/includes/trailingslash;

    # Rewrite images
    rewrite ^/img/(.*)$ $scheme://images.<%= @server_name %>/$1 permanent;

    # Rewrite assets
    rewrite ^/(js|css|fonts)/(.*)$ $scheme://assets.<%= @server_name %>/$1/$2 permanent;

    location / {
        try_files $uri $uri/ /<%= @index %>?$query_string;
    }

    # PHP FPM Setup
    location ~ (\.php|\.html)$ {
        try_files $uri /<%= @index %> =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php/php<%= node['Php']['default']['version'] %>-fpm.sock;
        fastcgi_index <%= @index %>;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param APPLICATION_ENV <%= node.chef_environment %>;
        include fastcgi_params;
    }

    error_log /var/log/nginx/<%= @name %>_error.log "<%= node['nginx']['loglevel'] %>";
    access_log /var/log/nginx/<%= @name %>_access.log;
}

#
# Permanent redirect from non-www to www
#
server {
    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name <%= @server_name %>;
    return 301 $scheme://www.<%= @server_name %>$request_uri;
    error_log /var/log/nginx/<%= @name %>_error.log "<%= node['nginx']['loglevel'] %>";
    access_log /var/log/nginx/<%= @name %>_access.log;
}

#
# Images domain
#
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    root <%= @root %>/img;
    server_name images.<%= @server_name %>;

    # ssl configuration
    ssl_certificate <%= @certificate_root %>/images.<%= @server_name %>/<%= @certificate_filename %>;
    ssl_certificate_key <%= @certificate_root %>/images.<%= @server_name %>/<%= @certificate_keyname %>;
    include /etc/nginx/includes/ssl-server;

    # Avoid trailing slashes
    include /etc/nginx/includes/trailingslash;

    <% if node['nginx']['cache_active'] == 'true' -%>
    # Setup Cache-Control
    location / {
        expires <%= node['nginx']['cache_lifetime'] %>;
        add_header Pragma public;
        add_header Cache-Control "public";
    }
    <% end -%>

    error_log /var/log/nginx/<%= @name %>_error.log "<%= node['nginx']['loglevel'] %>";
    access_log /var/log/nginx/<%= @name %>_access.log;
}

#
# Assets domain
#
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    root <%= @root %>/assets;
    server_name assets.<%= @server_name %>;

    # ssl configuration
    ssl_certificate <%= @certificate_root %>/assets.<%= @server_name %>/<%= @certificate_filename %>;
    ssl_certificate_key <%= @certificate_root %>/assets.<%= @server_name %>/<%= @certificate_keyname %>;
    include /etc/nginx/includes/ssl-server;

    # Avoid trailing slashes
    include /etc/nginx/includes/trailingslash;

    <% if node['nginx']['cache_active'] == 'true' -%>
    # Setup Cache-Control
    location / {
        expires <%= node['nginx']['cache_lifetime'] %>;
        add_header Pragma public;
        add_header Cache-Control "public";
    }
    <% end -%>

    error_log /var/log/nginx/<%= @name %>_error.log "<%= node['nginx']['loglevel'] %>";
    access_log /var/log/nginx/<%= @name %>_access.log;
}
