# You may add here your
# server {
#	...
# }
# statements for each of your virtual hosts to this file

##
# You should look at the following URL's in order to grasp a solid understanding
# of Nginx configuration files in order to fully unleash the power of Nginx.
# http://wiki.nginx.org/Pitfalls
# http://wiki.nginx.org/QuickStart
# http://wiki.nginx.org/Configuration
#
# Generally, you will want to move this file somewhere, and start with a clean
# file but keep this around for reference. Or just disable in sites-enabled.
#
# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.
##

#
# Site redirect
#
server {
	listen 80;
	listen [::]:80;
	server_name *.<%= @server_name %> <%= @server_name %>;
	return 301 <%= @scheme %>://www.<%= @target %>$request_uri;
	error_log /var/log/nginx/<%= @name %>_error.log "<%= node['nginx']['loglevel'] %>";
	access_log /var/log/nginx/<%= @name %>_access.log;
}
