server {
    listen 80;
    listen [::]:80;

    root <%= @root %>;
    index <%= @index %>;

    server_name <%= @server_name %>;

    # PHP FPM Setup
    location / {
        try_files $uri /index.php =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php/php<%= node['Php']['default']['version'] %>-fpm.sock;
        fastcgi_index <%= @index %>;
        fastcgi_param APPLICATION_ENV <%= node.chef_environment %>;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    error_log /var/log/nginx/<%= @name %>_error.log "<%= node['nginx']['loglevel'] %>";
    access_log /var/log/nginx/<%= @name %>_access.log;
}