server {
	listen 80;
	listen [::]:80;

	# Make site accessible from http://localhost/
	server_name <%= node['Jenkins']['server_name'] %>;

	location / {
		proxy_pass				http://localhost:<%= node['Jenkins']['port'] %>;
		proxy_set_header		Host $host;
		proxy_set_header		X-Real-IP $remote_addr;
		proxy_set_header		X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_connect_timeout	150;
		proxy_send_timeout		100;
		proxy_read_timeout		100;
		proxy_buffers			4 32k;
		client_max_body_size	8m;
		client_body_buffer_size	128k;

		# Avoids reverse proxy notification in jenkins
		proxy_redirect			http://localhost:<%= node['Jenkins']['port'] %> $scheme://$host;
	}
}