/var/log/nginx/*.log {
	<%= node['nginx']['logrotate']['interval'] %>
	missingok
	rotate <%= node['nginx']['logrotate']['number_of_files'] %>
	compress
	delaycompress
	notifempty
	create 0640 www-data adm
	sharedscripts
	prerotate
		if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
			run-parts /etc/logrotate.d/httpd-prerotate; \
		fi \
	endscript
	postrotate
		[ -s /run/nginx.pid ] && kill -USR1 `cat /run/nginx.pid`
	endscript
}
