/var/log/php<%= node['Php']['default']['version'] %>-fpm.log {
    <%= node['Php']['logrotate']['interval'] %>
    rotate <%= node['Php']['logrotate']['number_of_files'] %>
	missingok
	notifempty
	compress
	delaycompress
	postrotate
		/usr/lib/php/php<%= node['Php']['default']['version'] %>-fpm-reopenlogs
	endscript
}
